<section class="card">
  <a href="/books/{{id}}">
    <header>{{title}}</header>
    <div class="card-body"></div>
      <img src={{thumbnail}} alt="{{title}}">
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>