<section class="card">
  <a href="/user/{{id}}">
    <header>{{books.title}}</header>

    <div class="card-body">
      {{!-- <img src={{thumbnail}} alt="{{description}}"> --}}
      <p>By: {{books.authors}}</p>
    </div>
  </a>
</section>