<section class="card">
  <a href="/books/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src={{thumbnail}} alt="{{description}}">
      <p>By: {{authors}}</p>
    </div>
  </a>
</section>